<div *ngIf="employee">
  <h2>{{ employee.fullName }}</h2>
  <div class="userInput col-md-2">
    First Name: 
    <input [(ngModel)]="employee.firstName" placeholder="First Name"/>
  </div>
  <div class="userInput col-md-2">
    Last Name: 
    <input [(ngModel)]="employee.lastName" placeholder="Last Name"/>
  </div>
  <div class="userInput col-md-2">
    Contact Number: 
    <input [(ngModel)]="employee.contactNumber" placeholder="Contact Number"/>
  </div>
  <div class="userInput col-md-2">
    Email Address: 
    <input [(ngModel)]="employee.emailAddress" placeholder="Email Address"/>
  </div>
  <div class="userInput col-md-2">
    Active:
    <input type="checkbox" [(ngModel)]="employee.isActive" placeholder=""/>
  </div>
  <button (click)="updateEmployee(employee)" *ngIf="employee.employeeId">Save</button>
  <button (click)="createEmployee(employee)" *ngIf="!employee.employeeId">Create</button>
</div>